<h1>Main#index</h1>

<%= link_to 'Create', users_path %>
<%= link_to 'Login', sessions_path %>
<!-- This will be a landing page for the url with the option to create an account or login plus marketing materials -->
