<h1>Main#index</h1>

<%= link_to 'Create', new_user_path %>
<%= link_to 'Login', new_session_path %>
<!-- This will be a landing page for the url with the option to create an account or login plus marketing materials -->
