<h1>This is a placeholder for the comment page</h1>

<p>We might do alerts, but we can also do comments</p>

<p>Placeholder for a funny Meme like Winston gives us for GoodMeasure</p>

<p><strong>Insert comment from the Questmaster here</strong></p>
<p>Insert a space for a comment field to populate here depending on if the previous action was a correct answer or a skip button being selected</p>

<!-- <p>
  <strong>Answer comment:</strong>
  <%= @task.answer_comment %>
</p> -->

<!-- <p>
  <strong>Skip comment:</strong>
  <%= @task.skip_comment %>
</p> -->

<p>
<button type="button" name="progress">Go to Next Task</button>
</p>
