<h1>Welcome to Adventure Quest</h1>

<p>This page will eventually serve as a "home" page for users</p>
<p>Users will be able to create a quest, start a quest, continue a quest</p>

<p>Still in progress</p>
